<div class="container-fluid d-flex  justify-content-center">
  <div  style="width: 100%;background-color: white">
    <h1 class="text-center ">
      Đỗi mật khẩu
    </h1>
    <hr style="width: 100%">
    <form class="w-75 mx-auto " [formGroup]="formUpdateInfo">
            <div class="form-group row">
              <label class="col  d-flex justify-content-end">
                <input type="password" class="form-control" formControlName="currentPassword" placeholder="Nhập mật khẩu hiện tại">
                <p *ngIf="formUpdateInfo.controls.currentPassword.errors?.required&&formUpdateInfo.controls.currentPassword.touched"
                   class="text-danger">vui lòng nhập mật khẩu hiện tại</p>
              </label>
            </div>

            <fieldset formGroupName="pwGroup">
              <div class="form-group row">
                <label class="col">
                  <input type="password" class="form-control" formControlName="password" placeholder="Nhập mật khẩu mới">
                </label>
              </div>
              <div class="form-group row">
                <label class="col">
                  <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu mới">
                </label>
              </div>
            </fieldset>
            <div class="alert alert-danger" role="alert" *ngIf="formUpdateInfo.hasError('passwordnotmatch', ['pwGroup']) &&
            formUpdateInfo.get('pwGroup').touched">
              Password does not match!
            </div>
    </form>
    <div class="row justify-content-center">
      <button mat-dialog-close  class="btn btn-sm btn-outline-primary">
        Đổi mật khẩu
      </button>
      <button mat-dialog-close  class="btn btn-sm btn-danger" [routerLink]="['/product/list']">
        Hủy
      </button>
    </div>
  </div>
</div>









