<div class="container-fluid d-flex  justify-content-center">
  <div  style="width: 100%;background-color: white">
    <h1 class="text-center ">
      Đỗi mật khẩu
    </h1>
    <hr style="width: 100%">
    <form class="w-75 mx-auto " [formGroup]="formUpdateInfo">
            <div class="form-group row">
              <label class="col  d-flex justify-content-end">
                <input type="password" class="form-control" formControlName="currentPassword" placeholder="Nhập mật khẩu hiện tại">
                <p *ngIf="formUpdateInfo.controls.currentPassword.errors?.required&&formUpdateInfo.controls.currentPassword.touched"
                   class="text-danger">vui lòng nhập mật khẩu hiện tại</p>
              </label>
            </div>

            <fieldset formGroupName="pwGroup">
              <div class="form-group row">
                <label class="col">
                  <input type="password" class="form-control" formControlName="password" placeholder="Nhập mật khẩu mới">
                </label>
              </div>
              <div class="form-group row">
                <label class="col">
                  <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu mới">
                </label>
              </div>
            </fieldset>
            <div class="alert alert-danger" role="alert" *ngIf="formUpdateInfo.hasError('passwordnotmatch', ['pwGroup']) &&
            formUpdateInfo.get('pwGroup').touched">
              Password does not match!
            </div>
    </form>
    <div class="row justify-content-center">
      <button mat-dialog-close  class="btn btn-sm btn-outline-primary">
        Đổi mật khẩu
      </button>
      <button mat-dialog-close  class="btn btn-sm btn-danger" [routerLink]="['/product/list']">
        Hủy
      </button>
    </div>
  </div>
</div>









<div class=" container-fluid d-flex justify-content-center my-5" >
  <div class="shadow p-3 mb-5 bg-white rounded" style="width: 50% ; background-color: rgba(226,207,255,0.33)">
    <form class="px-4 pt-3" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleDropdownForUsername">Tài khoản</label>
        <input type="email" class="form-control" id="exampleDropdownForUsername" placeholder="username" formControlName="username">
        <p
          *ngIf="changePasswordForm.controls.username.errors?.required&&changePasswordForm.controls.username.touched"
          class="text-danger">vui lòng nhập mật khẩu
        </p>
      </div>

      <div class="form-group">
        <label for="exampleDropdownFormOldPassword">Mật khẩu cũ</label>
        <input type="password" class="form-control" id="exampleDropdownFormOldPassword" placeholder="mật khẩu cũ" formControlName="oldPassword">
        <p
          *ngIf="changePasswordForm.controls.oldPassword.errors?.required&&changePasswordForm.controls.oldPassword.touched"
          class="text-danger">vui lòng nhập mật khẩu cũ
        </p>
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormNewPassword">Mật khẩu mới</label>
        <input type="password" class="form-control" id="exampleDropdownFormNewPassword" placeholder="mật khẩu mới" formControlName="newPassword">
        <p
          *ngIf="changePasswordForm.controls.newPassword.errors?.required&&changePasswordForm.controls.newPassword.touched"
          class="text-danger">vui lòng nhập mật khẩu cũ
        </p>
      </div>
      <div class="dropdown-divider"></div>
      <div class="row d-flex justify-content-center form-group">
        <button class="btn btn-info mt-3" type="submit" >Đổi mật khẩu</button>
      </div>
    </form>
  </div>


</div>
