









<div class=" container-fluid d-flex justify-content-center my-5" >
  <div class="shadow p-3 mb-5 bg-white rounded" style="width: 50% ; background-color: rgba(226,207,255,0.33)">
    <form class="px-4 pt-3" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleDropdownForUsername">Tài khoản</label>
        <input type="email" class="form-control" id="exampleDropdownForUsername" placeholder="username" formControlName="username">
        <p
          *ngIf="changePasswordForm.controls.username.errors?.required&&changePasswordForm.controls.username.touched"
          class="text-danger">vui lòng nhập mật khẩu
        </p>
      </div>

      <div class="form-group">
        <label for="exampleDropdownFormOldPassword">Mật khẩu cũ</label>
        <input type="password" class="form-control" id="exampleDropdownFormOldPassword" placeholder="mật khẩu cũ" formControlName="oldPassword">
        <p
          *ngIf="changePasswordForm.controls.oldPassword.errors?.required&&changePasswordForm.controls.oldPassword.touched"
          class="text-danger">vui lòng nhập mật khẩu cũ
        </p>
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormNewPassword">Mật khẩu mới</label>
        <input type="password" class="form-control" id="exampleDropdownFormNewPassword" placeholder="mật khẩu mới" formControlName="newPassword">
        <p
          *ngIf="changePasswordForm.controls.newPassword.errors?.required&&changePasswordForm.controls.newPassword.touched"
          class="text-danger">vui lòng nhập mật khẩu cũ
        </p>
      </div>
      <div class="dropdown-divider"></div>
      <div class="row d-flex justify-content-center form-group">
        <button class="btn btn-info mt-3" type="submit" >Đổi mật khẩu</button>
      </div>
    </form>
  </div>


</div>
