<p>product-list works!</p>
<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="#">Đang đấu giá</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đã đấu giá</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kết quả</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">Top đấu giá</a>
    </li>
  </ul>
</div>

<div class="container d-flex">
  <div class="card mx-3 " style="width:250px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body align-items-center  ">
      <a href="#" class="card-title  d-flex justify-content-center">Tên sản phẩm </a>
      <p class="card-text mt-2 d-flex justify-content-center ">Giá hiện tại</p>
      <p class="card-text d-flex justify-content-center">Thời gian còn lại :00:00:00</p>
      <div class="row d-flex justify-content-center ">
        <a href="#" class="btn btn-warning ">Đấu giá</a>
      </div>
    </div>
  </div>
  <br>

  <div class="card" style="width:200px">
    <div class="card-body">
      <h4 class="card-title">Jane Doe</h4>
      <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    <img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
  </div>
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Dropdown button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item-text" href="#">Text Link</a>
      <span class="dropdown-item-text">Just Text</span>
    </div>
  </div>
</div>

