<p>product-list works!</p>
<div>
  <ul class="nav nav-tabs ">
    <li class="nav-item " >
      <a class="nav-link " style="color: black" href="#">Đang đấu giá</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black" href="#">Đã đấu giá</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black" href="#">Kết quả</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " style="color: black" href="#">Top đấu giá</a>
    </li>
  </ul>
</div>

<div class="container d-flex">
  <div class="card mx-3 " style="width:250px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body align-items-center  ">
      <a href="#" class="card-title  d-flex justify-content-center">Tên sản phẩm </a>
      <p class="card-text mt-2 d-flex justify-content-center ">Giá hiện tại</p>
      <p class="card-text d-flex justify-content-center">Thời gian còn lại :00:00:00</p>
      <div class="row d-flex justify-content-center ">
        <a href="#" class="btn btn-warning ">Đấu giá</a>
      </div>
    </div>
  </div>
  <div class="card mx-3 " style="width:250px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body align-items-center  ">
      <a href="#" class="card-title  d-flex justify-content-center">Tên sản phẩm </a>
      <p class="card-text mt-2 d-flex justify-content-center ">Giá hiện tại</p>
      <p class="card-text d-flex justify-content-center">Thời gian còn lại :00:00:00</p>
      <div class="row d-flex justify-content-center ">
        <a href="#" class="btn btn-warning ">Đấu giá</a>
      </div>
    </div>
  </div>
  <div class="card mx-3 " style="width:250px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body align-items-center  ">
      <a href="#" class="card-title  d-flex justify-content-center">Tên sản phẩm </a>
      <p class="card-text mt-2 d-flex justify-content-center ">Giá hiện tại</p>
      <p class="card-text d-flex justify-content-center">Thời gian còn lại :00:00:00</p>
      <div class="row d-flex justify-content-center ">
        <a href="#" class="btn btn-warning ">Đấu giá</a>
      </div>
    </div>
  </div>
  <br>
  <div class="card mx-3 " style="width:250px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body align-items-center  ">
      <a href="#" class="card-title  d-flex justify-content-center">Tên sản phẩm </a>
      <p class="card-text mt-2 d-flex justify-content-center ">Giá hiện tại</p>
      <p class="card-text d-flex justify-content-center">Thời gian còn lại :00:00:00</p>
      <div class="row d-flex justify-content-center ">
        <a href="#" class="btn btn-warning ">Đấu giá</a>
      </div>
    </div>
  </div>
  <div class="card mx-3 " style="width:250px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body align-items-center  ">
      <a href="#" class="card-title  d-flex justify-content-center">Tên sản phẩm </a>
      <p class="card-text mt-2 d-flex justify-content-center ">Giá hiện tại</p>
      <p class="card-text d-flex justify-content-center">Thời gian còn lại :00:00:00</p>
      <div class="row d-flex justify-content-center ">
        <a href="#" class="btn btn-warning ">Đấu giá</a>
      </div>
    </div>
  </div>
  <div class="card mx-3 " style="width:250px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body align-items-center  ">
      <a href="#" class="card-title  d-flex justify-content-center">Tên sản phẩm </a>
      <p class="card-text mt-2 d-flex justify-content-center ">Giá hiện tại</p>
      <p class="card-text d-flex justify-content-center">Thời gian còn lại :00:00:00</p>
      <div class="row d-flex justify-content-center ">
        <a href="#" class="btn btn-warning ">Đấu giá</a>
      </div>
    </div>
  </div>
</div>

