<div class="container-fluid d-flex  justify-content-center" style="background-color: #f1eaff">
  <div class="mt-2 mb-5 shadow" style="width: 50%;background-color: white">
    <h1 class="text-center ">
      Đăng ký
    </h1>
    <hr style="width: 40%">
    <form class="w-75 mx-auto " [formGroup]="registerForm">
      <div class="form-group">
        <input class="form-control" type="text" formControlName="fullName" placeholder="Nhập họ tên">
        <p *ngIf="registerForm.controls.fullName.errors?.required&&registerForm.controls.fullName.touched"
           class="text-danger">vui lòng nhập họ tên</p>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" formControlName="userName" placeholder="Nhập tài khoản">
        <p *ngIf="registerForm.controls.userName.errors?.required&&registerForm.controls.userName.touched"
           class="text-danger">vui lòng nhập tài khoản</p>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" formControlName="email" placeholder="Nhập email">
        <p *ngIf="registerForm.controls.email.errors?.required&&registerForm.controls.email.touched"
           class="text-danger">vui lòng nhập email</p>
        <p *ngIf="registerForm.controls.email.errors?.email&&registerForm.controls.email.touched"
           class="text-danger">email không đúng định dạng</p>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input [min]="minDate" [max]="maxDate" class="form-control" formControlName="dayOfBirth" matInput [matDatepicker]="myDatepicker" placeholder="Chọn Ngày Sinh">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        <p *ngIf="registerForm.controls.dayOfBirth.errors?.required&&registerForm.controls.dayOfBirth.touched"
           class="text-danger">vui lòng nhập ngày sinh</p>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" formControlName="phone" placeholder="Nhập số điện thoại">
        <p *ngIf="registerForm.controls.phone.errors?.required&&registerForm.controls.phone.touched"
           class="text-danger">vui lòng nhập số điện thoại</p>
        <p *ngIf="registerForm.controls.phone.errors?.pattern&&registerForm.controls.phone.touched"
           class="text-danger">số điện thoại không đúng định dạng</p>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" formControlName="identityNumber" placeholder="Nhập số chứng minh thư">
        <p
          *ngIf="registerForm.controls.identityNumber.errors?.required&&registerForm.controls.identityNumber.touched"
          class="text-danger">vui lòng nhập cmnd
        </p>
        <p
          *ngIf="registerForm.controls.identityNumber.errors?.pattern&&registerForm.controls.identityNumber.touched"
          class="text-danger">số chứng minh không đúng định dạng
        </p>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" formControlName="address" placeholder="Nhập địa chỉ">
        <p *ngIf="registerForm.controls.address.errors?.required&&registerForm.controls.address.touched"
           class="text-danger">vui lòng nhập địa chỉ</p>
      </div>
      <fieldset formGroupName="pwGroup">
        <div class="form-group row">
          <label class="col">
            Password
            <input type="password" class="form-control" formControlName="_password">
          </label>
        </div>
        <div class="form-group row">
          <label class="col">
            Confirm Password
            <input type="password" class="form-control" formControlName="confirmPassword">
          </label>
        </div>
      </fieldset>
      <div class="alert alert-danger" role="alert" *ngIf="registerForm.hasError('passwordnotmatch', ['pwGroup']) &&
      registerForm.get('pwGroup').touched">
        Password does not match!
      </div>
      <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Đồng ý với điều khoản website</label>
    </form>
    <hr style="width: 90%">
    <div class="row d-flex justify-content-center mb-3">
      <a href="user/register" class="btn btn-success" role="button" aria-pressed="true"
         style="width: 30%">Tạo tài khoản</a>
    </div>
  </div>
</div>
