label{
  width: 150px;
  margin-left: 10px;
}
textarea{
  border: solid 1px;
}
.mat-input-element{
  width: 300px;
}
.action-button{
  margin-right: 5px;
  margin-top: 8px;
  padding-top: 2px ;
  justify-content: center;
  height: 40px;
  width: 130px;
}
