<div>
<div class="container-fluid">
  <h2 class="d-flex justify-content-center">Lich Sử Đấu Giá Sản Phẩm</h2>
    <div class="row mt-3 mx-5">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped" >

      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i}}</td>
      </ng-container>

      <ng-container matColumnDef="idProduct">
        <th mat-header-cell *matHeaderCellDef> Số Đơn Hàng </th>
        <td mat-cell *matCellDef="let element"> {{element.idProduct}} </td>
      </ng-container>

      <ng-container matColumnDef="nameProduct">
          <th mat-header-cell *matHeaderCellDef> Tên Sản Phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.nameProduct}} </td>
      </ng-container>

      <ng-container matColumnDef="infoProduct">
        <th mat-header-cell *matHeaderCellDef> Thông Tin Sản Phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.infoProduct}} </td>
      </ng-container>

      <ng-container matColumnDef="originalCost">
        <th mat-header-cell *matHeaderCellDef> Giá Ban đầu </th>
        <td mat-cell *matCellDef="let element"> {{element.originalCost}} </td>
      </ng-container>

      <ng-container matColumnDef="currentCost">
        <th mat-header-cell *matHeaderCellDef> Giá Hiện tại </th>
        <td mat-cell *matCellDef="let element"> {{element.currentCost}} </td>
      </ng-container>

      <ng-container matColumnDef="registerDay">
        <th mat-header-cell *matHeaderCellDef> Ngày Đăng Ký </th>
        <td mat-cell *matCellDef="let element"> {{element.registerDay}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Tình Trạng </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef> Hủy Trạng Thái </th>
        <td mat-cell *matCellDef="let element"><button mat-button color="warn">Hủy</button></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  <div class="col-6">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
</div>
