<div>
<div class="container">
  <h2>Lich sử đấu giá đấu giá sản phẩm</h2>

<!--    <table class="table mt-3 table-striped" style="font-size: 12px">-->
<!--      <thead>-->
<!--      </thead>-->
<!--      <tbody *ngFor="let Product of Products |filter:term | paginate: { itemsPerPage: 2, currentPage: p }">-->
<!--      <tr>-->
<!--        <th>{{Product.id}}</th>-->
<!--        <th>{{Product.nameProduct}}</th>-->
<!--        <th>{{Product.infoProduct }}</th>-->
<!--        <th>{{Product.cost }}</th>-->
<!--        <th>{{Product.registerDay}}</th>-->
<!--        <th>{{Product.status}}</th>-->
<!--        <th style="width: 12%">-->
<!--          <button class="btn btn-sm btn-danger">Xóa</button>-->
<!--        </th>-->
<!--      </tr>-->

<!--      </tbody>-->

<!--    </table>-->
<!--        <pagination-controls (pageChange)="p = $event"></pagination-controls>-->




    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element"> {{element.index}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="idProduct">
        <th mat-header-cell *matHeaderCellDef> Số đơn hàng </th>
        <td mat-cell *matCellDef="let element"> {{element.idProduct}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nameProduct">
          <th mat-header-cell *matHeaderCellDef> tên sản phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.nameProduct}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="infoProduct">
        <th mat-header-cell *matHeaderCellDef> Thông tin sản phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.infoProduct}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Giá đăng ký </th>
        <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
      </ng-container>

      <ng-container matColumnDef="registerDay">
        <th mat-header-cell *matHeaderCellDef> Ngày đăng ký </th>
        <td mat-cell *matCellDef="let element"> {{element.registerDay}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Tình trạng </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Hủy đấu giá </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</div>
