<div class="container-fluid mt-4">
  <div class="row d-flex justify-content-center ">
    <h1 class="font-weight-bold"> Thông tin mua hàng</h1>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="row d-flex justify-content-center ">
        <h3 class="font-weight-bold "> Thông tin người mua</h3>
      </div>
      <div class="form-group mt-2">
        <p>Họ và tên</p>
        <div class="ml-0 row d-flex align-items-center" style="background: #dedede;height: 35px"><p
          class="mt-2 ml-3">{{buyerDTO.buyerName}}</p></div>
      </div>
      <div class="form-group mt-2">
        <p>Số điện thoại</p>
        <div class="ml-0 row d-flex align-items-center" style="background: #dedede;height: 35px"><p
          class="mt-2 ml-3">{{buyerDTO.buyerPhoneNumber}}</p></div>
      </div>
      <div class="form-group mt-2">
        <p>Địa chỉ</p>
        <div class="ml-0 row d-flex align-items-center" style="background: #dedede;height: 35px"><p
          class="mt-2 ml-3">{{buyerDTO.buyerAddress}}</p></div>
      </div>
      <div class="form-group mt-2">
        <p>Email</p>
        <div class="ml-0 row d-flex align-items-center" style="background: #dedede;height: 35px"><p
          class="mt-2 ml-3">{{buyerDTO.buyerEmail}}</p></div>
      </div>
    </div>
    <div class="col-9">
      <div class="row d-flex justify-content-center ">
        <h3 class="font-weight-bold"> Thông tin nhận hàng</h3>
      </div>
      <div class="row ml-5">
        <label class="form-check-label ml-4 font-italic text-danger">
          <input type="checkbox" class="form-check-input" value="" [(ngModel)]="check">Thông tin nhận hàng cũng là địa
          chỉ
          của tôi
        </label>
      </div>
      <fieldset [disabled]="check">
        <form class="w-75 mx-auto" [formGroup]="formReceiver">
          <div class="form-group mt-2">
            <p>Họ và tên(<span class="text-danger">*</span>)</p>
            <input class="form-control" type="text" formControlName="fullName">
            <p *ngIf="formReceiver.controls.fullName?.errors?.required&&formReceiver.controls.fullName?.touched"
               class="text-danger"> Vui lòng nhập tên</p>
          </div>
          <div class="form-group mt-2">
            <p>Số điện thoại(<span class="text-danger">*</span>)</p>
            <input class="form-control" type="text" formControlName="phoneNumber">
            <p
              *ngIf="formReceiver.controls.phoneNumber?.errors?.required&&formReceiver.controls.phoneNumber?.touched"
              class="text-danger"> Vui lòng nhập số điện thoại</p>
            <p *ngIf="formReceiver.controls.phoneNumber?.errors?.pattern" class="text-danger"> Số điện thoại không đúng
              định dạng</p>
          </div>
          <div class="form-group mt-2">
            <p>Email(<span class="text-danger">*</span>)</p>
            <input class="form-control" type="text" formControlName="email">
            <p *ngIf="formReceiver.controls.email?.errors?.required&&formReceiver.controls.email?.touched"
               class="text-danger"> Vui lòng nhập email</p>
            <p *ngIf="formReceiver.controls.email?.errors?.email" class="text-danger"> Email không đúng định dạng</p>
          </div>
          <div class="form-group mt-2">
            <p class="mb-0">Địa chỉ:</p>
            <div class="row d-flex ml-5">
              <div class="w-30 mt-3 mx-3" style="width: 61%">
                <p>Đường</p>
                <input class="form-control" type="text" formControlName="street">
                <p *ngIf="formReceiver.controls.address?.errors?.required&&formReceiver.controls.address?.touched"
                   class="text-danger"> Vui lòng nhập xã/phường!</p>
              </div>
              <div class=" mt-3" style="width: 30%">
                <p>Thôn/Xóm/Tổ(<span class="text-danger">*</span>)</p>
                <input class="form-control" type="text" formControlName="village">
                <p *ngIf="formReceiver.controls.address?.errors?.required&&formReceiver.controls.address?.touched"
                   class="text-danger"> Vui lòng nhập thôn/xóm/tổ!</p>
              </div>
            </div>
            <div class="row d-flex ml-5">
              <div class="w-30 mt-3 mx-3" style="width: 29%">
                <p>Xã/Phường(<span class="text-danger">*</span>)</p>
                <input class="form-control" type="text" formControlName="ward">
                <p *ngIf="formReceiver.controls.address?.errors?.required&&formReceiver.controls.address?.touched"
                   class="text-danger"> Vui lòng nhập xã/phường!</p>
              </div>
              <div class="w-30 mt-3" style="width: 29%">
                <p>Quận/Huyện(<span class="text-danger">*</span>)</p>
                <input class="form-control" type="text" formControlName="district">
                <p *ngIf="formReceiver.controls.address?.errors?.required&&formReceiver.controls.address?.touched"
                   class="text-danger"> Vui lòng nhập quận/huyện!</p>
              </div>
              <div class="w-30 mt-3 mx-3" style="width: 29%">
                <p>Tỉnh/Thành phố(<span class="text-danger">*</span>)</p>
                <input class="form-control" type="text" formControlName="province">
              </div>
            </div>

          </div>
        </form>
      </fieldset>
    </div>
  </div>
  <div class="row d-flex justify-content-end mt-3" style="margin-right: 90px">
    <button class="btn btn-outline-warning" [disabled]="formReceiver.invalid&&!check" (click)="openConformPrint()">Hoàn
      tất và in hóa đơn
    </button>
    <button class="btn btn-outline-warning mx-3">Quay lại</button>
  </div>
</div>
