
<h2 class="row justify-content-center ">
  Hướng dẫn của website
</h2>
<div  style="height: 80%">
  <p >
  Quy định của website:<br>
  -Đây là các quy định của website:-------------------
</p>
  <p>
    Quy định đăng ký đấu giá:<br>
    -Bạn phải đăng kí các thông tin  theo yêu cầu để có thể được cấp một tài khoản truy cập vào hệ thống. Sau khi đã đăng ký thành công, muốn đưa sản phẩm  lên đấu giá cần cung cấp đầu đủ các thông tin về sản phẩm  theo đúng các bước hướng dẫn. Còn muốn tham gia đấu giá trước khi đấu giá một sản phẩm hàng hóa cần nạp tiền vào ví theo các hình thức mà hệ thống cung cấp và đặt cọt đấu giá, trả giá cho sản phẩm hàng hóa. Nếu thành công thì sẽ hệ thống sẽ xuất hóa đơn thanh toán và yêu cầu thanh toán.
  </p>
  <p>
    Câu hỏi thường gặp:<br>
    -Đấu giá online có đảm bảo tính minh bạch không?<br>
    - thế nào có thể đưa sản phẩm lên đấu giá?<br>
    -Làm thế nào để nhận được hàng sau khi đã trúng được sản phẩm đấu gái?<br>
    - có phải đặt tiền cọc khi tham gia đấu giá 1 sản phẩm không?<br>

  </p>
</div>
<div class="row justify-content-center">
  <button mat-dialog-close class="btn btn-warning mr-4 " style="width: 80px;"> Đóng </button>
</div>

