<div class="row d-flex justify-content-center">
  <h2>Hộp thoại xác định xóa giao dịch</h2>
</div>
<div class="row d-flex justify-content-center mt-0">
  <p class="my-2">Bạn có muốn xóa các giao dịch đã chọn không?</p>
  <p class="text-danger mt-2">Lưu ý : thao tác này không thể hoàn tác!!!</p>
</div>
<div class="row justify-content-end mt-4">
  <button mat-dialog-close class="btn btn-warning mr-4 " style="width: 100px;height: 35px">Hủy bỏ </button>
  <button class="btn btn-danger mr-4" style="width: 100px;height: 35px" (click)="deleteTransaction()" >Xóa </button>
</div>

