<div class="container">
  <div class="mt-4" id="print-section" style="border: double 1px ">
    <div class="row d-flex justify-content-center mt-2">
      <h3 id="tile" #tile >HÓA ĐƠN MUA HÀNG</h3>
    </div>
    <div class="row mx-5">
      <div id ="info" #info class="col-8">
        <p>Khách hàng:&nbsp;{{customerInfo.buyerName}} </p>
        <p>Mã khách hàng:&nbsp;{{customerInfo.idBuyer}}</p>
        <p>Người bán:&nbsp;{{productListForBill[0].sellerName.valueOf()}}</p>
        <p>Mặt hàng:&nbsp;{{productListForBill[0].productName}}</p>
        <p>Mã hàng:&nbsp;{{productListForBill[0].productId}}</p>
        <p>Số tiền:&nbsp;{{money}}&nbsp;VNĐ</p>
        <p>Bằng chữ:&nbsp;{{stringMoney}}</p>
        <p>Ghi chú:&nbsp;{{productListForBill[0].note}}</p>
      </div>
      <div id="code" #code class="col-4">
        <p>Mã số:</p>
        <p>Ký hiệu:</p>
        <p>Ngày lập:{{dayCompose | date: 'dd/MM/yyyy'}}</p>
      </div>
    </div>
  </div>
  <div class ="row d-flex justify-content-center mt-4">
    <button class="btn btn-outline-warning mx-4" style="width: 90px; height: 35px" (click)="exportPDF1()">
      <i class="material-icons">print</i>
      Print
    </button>
    <button mat-dialog-close class="btn btn-outline-warning mr-4 " style="width: 90px;height: 35px;">Hủy bỏ </button>
  </div>
</div>

