<div class="container">
  <div id="print-section" style="border: double 1px ">
    <div class="row d-flex justify-content-center mt-2">
      <h3 id="tile" #tile >HÓA ĐƠN MUA HÀNG</h3>
    </div>
    <div class="row mx-5">
      <div id ="info" #info class="col-9">
        <p>Khách hàng: </p>
        <p>Mã khách hàng:</p>
        <p>Người bán:</p>
        <p>Mặt hàng:</p>
        <p>Mã hàng:</p>
        <p>Số tiền:&nbsp;{{money}}&nbsp;VNĐ</p>
        <p>Bằng chữ:&nbsp;{{stringMoney}}</p>
        <p>Ghi chú:</p>
      </div>
      <div id="code" #code class="col-3">
        <p>Mã số:</p>
        <p>Ký hiệu:</p>
        <p>Ngày lập:</p>
      </div>
    </div>
  </div>
  <div class ="row d-flex justify-content-center mt-4">
    <button class="btn btn-outline-warning mx-4" style="width: 90px; height: 35px" (click)="exportPDF1()">
      <i class="material-icons">print</i>
      Print
    </button>
    <button mat-dialog-close class="btn btn-outline-warning mr-4 " style="width: 90px;height: 35px;">Hủy bỏ </button>
  </div>
</div>

