<div>
  <div class="container-fluid">
    <h2 class="d-flex justify-content-center">Lich Sử Đăng Ký Đấu Giá Sản Phẩm</h2>
    <div class="row mt-3 mx-5">
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 table table-striped" >

      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i}}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Id_Product">
        <th mat-header-cell *matHeaderCellDef> Mã sản phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.Id_Product}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name_Product">
        <th mat-header-cell *matHeaderCellDef> Tên Sản Phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.Name_Product}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="product_info">
        <th mat-header-cell *matHeaderCellDef> Thông Tin Sản Phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.product_info}} </td>
      </ng-container>

      <ng-container matColumnDef="start_price">
        <th mat-header-cell *matHeaderCellDef> Giá ban đầu </th>
        <td mat-cell *matCellDef="let element"> {{element.start_price}} </td>
      </ng-container>

      <ng-container matColumnDef="start_day">
        <th mat-header-cell *matHeaderCellDef> Ngày Đăng Ký </th>
        <td mat-cell *matCellDef="let element"> {{element.start_day}} </td>
      </ng-container>

      <ng-container matColumnDef="end_day">
        <th mat-header-cell *matHeaderCellDef> Ngày kết thúc </th>
        <td mat-cell *matCellDef="let element"> {{element.end_day}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Tình Trạng </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef> Hủy Trạng Thái </th>
        <td mat-cell *matCellDef="let element"><button mat-button color="warn">Hủy</button></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
    <div class="col-6 d-flex justify-content-lg-end">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
