<h3>Cập nhật thông tin người dùng</h3>

<!--<form action="/action_page.php w-75 mx auto mt-3" [formGroup]="formUpdateInfo">-->
<!--  <div class="form-group">-->
<!--    <label>Tên đăng nhập:</label>-->
<!--    <input type="text" class="form-control" formControlName="title">-->
<!--    <p *ngIf="formUpdateInfo.controls.title.errors?.required && formUpdateInfo.controls.title.touched"-->
<!--       class="text-danger">Vui lòng nhập tên sách</p>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Họ và tên:</label>-->
<!--    <input type="text" class="form-control" formControlName="title">-->
<!--    <p *ngIf="formUpdateInfo.controls.title.errors?.required && formUpdateInfo.controls.title.touched"-->
<!--       class="text-danger">Vui lòng nhập tên sách</p>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Tác giả</label>-->
<!--    <input type="text" class="form-control" formControlName="author">-->
<!--    <p *ngIf="formUpdateInfo.controls.author.errors?.required && formUpdateInfo.controls.author.touched"-->
<!--       class="text-danger">Vui lòng nhập tác giả</p>-->
<!--  </div>-->

<!--  <div class="row d-flex justify-content-center">-->
<!--    <button [disabled]="formUpdateInfo.invalid" type="submit" class="btn btn-primary" (click)="updateInfo()">-->
<!--      Thêm mới sách-->
<!--    </button>-->
<!--  </div>-->
<!--</form>-->


