<div class="container-fluid d-flex  justify-content-center" style="background-color: #f1eaff">
  <div class="mt-2 mb-5 shadow" style="width: 50%;background-color: white">
    <h1 class="text-center ">
      Quản lý thông tin người dùng
    </h1>
    <hr style="width: 40%">
    <form class="w-75 mx-auto " [formGroup]="formUpdateInfo">
      <div class="form-group" >
        <label>Họ và tên</label>
        <input disabled="true" class="form-control" type="text" formControlName="fullName" placeholder="Nhập họ tên">
      </div>

      <div class="form-group d-flex">
        <mat-form-field>
          <input disabled="true" [min]="minDate" [max]="maxDate" class="form-control" formControlName="dayOfBirth" matInput [matDatepicker]="myDatepicker" placeholder="Ngày Sinh">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label>Địa chỉ</label>
        <input disabled="true" class="form-control" type="text" formControlName="address" placeholder="Nhập địa chỉ">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input disabled="true" class="form-control" type="text" formControlName="email" placeholder="Nhập email">
      </div>

      <div class="form-group">
        <label>Điểm cống hiến</label>
        <input disabled="true" class="form-control" type="text" formControlName="contributePoint" placeholder="Điểm cống hiến">
      </div>

      <div class="form-group">
        <label>Rank</label>
        <input disabled="true" class="form-control" type="text" formControlName="rank" placeholder="Rank">
      </div>

      <div class="form-group">
        <label>Số điện thoại</label>
        <input disabled="true" class="form-control" type="text" formControlName="phone" placeholder="Nhập số điện thoại">

      </div>

      <div class="form-group">
        <label>Số chứng minh nhân dân</label>
        <input disabled="true" class="form-control" type="text" formControlName="identityNumber" placeholder="Nhập số chứng minh thư">
        </div>
    </form>
    <div class="row justify-content-center">
      <button  id="btnEdit" class="btn btn-primary" (click)="openDialogEditProfile()">
        Sửa
      </button>
      <button  class="btn btn-sm btn-outline-primary" (click)="openDialogChangePassWord()">
        Đổi mật khẩu
      </button>
      <button  class="btn btn-sm btn-danger" [routerLink]="['/product/list']">
        Hủy
      </button>
    </div>
  </div>
</div>









