<div class="container-fluid d-flex  justify-content-center" style="background-color: #f1eaff">
  <div class="mt-2 mb-5 shadow" style="width: 50%;background-color: white">
    <h1 class="text-center ">
      Đăng ký
    </h1>
    <hr style="width: 40%">
    <form class="w-75 mx-auto " [formGroup]="formUpdateInfo">
      <div class="form-group">
        <input class="form-control" type="text" formControlName="fullName" placeholder="Nhập họ tên">
        <p *ngIf="formUpdateInfo.controls.fullName.errors?.required&&formUpdateInfo.controls.fullName.touched"
           class="text-danger">vui lòng nhập họ tên</p>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" formControlName="userName" placeholder="Nhập tài khoản">
        <p *ngIf="formUpdateInfo.controls.userName.errors?.required&&formUpdateInfo.controls.userName.touched"
           class="text-danger">vui lòng nhập tài khoản</p>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" formControlName="email" placeholder="Nhập email">
        <p *ngIf="formUpdateInfo.controls.email.errors?.required&&formUpdateInfo.controls.email.touched"
           class="text-danger">vui lòng nhập email</p>
        <p *ngIf="formUpdateInfo.controls.email.errors?.email&&formUpdateInfo.controls.email.touched"
           class="text-danger">email không đúng định dạng</p>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input [min]="minDate" [max]="maxDate" class="form-control" formControlName="dateOfBirth" matInput [matDatepicker]="myDatepicker" placeholder="Chọn Ngày Sinh">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        <p *ngIf="formUpdateInfo.controls.dateOfBirth.errors?.required&&formUpdateInfo.controls.dateOfBirth.touched"
           class="text-danger">vui lòng nhập ngày sinh</p>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" formControlName="phoneNumber" placeholder="Nhập số điện thoại">
        <p *ngIf="formUpdateInfo.controls.phoneNumber.errors?.required&&formUpdateInfo.controls.phoneNumber.touched"
           class="text-danger">vui lòng nhập số điện thoại</p>
        <p *ngIf="formUpdateInfo.controls.phoneNumber.errors?.pattern&&formUpdateInfo.controls.phoneNumber.touched"
           class="text-danger">số điện thoại không đúng định dạng</p>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" formControlName="identityNumber" placeholder="Nhập số chứng minh thư">
        <p
          *ngIf="formUpdateInfo.controls.identityNumber.errors?.required&&formUpdateInfo.controls.identityNumber.touched"
          class="text-danger">vui lòng nhập cmnd
        </p>
        <p
          *ngIf="formUpdateInfo.controls.identityNumber.errors?.pattern&&formUpdateInfo.controls.identityNumber.touched"
          class="text-danger">số chứng minh không đúng định dạng
        </p>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" formControlName="address" placeholder="Nhập địa chỉ">
        <p *ngIf="formUpdateInfo.controls.address.errors?.required&&formUpdateInfo.controls.address.touched"
           class="text-danger">vui lòng nhập địa chỉ</p>
      </div>

      <div class="form-group row">
        <label class="col">
          <input type="password" class="form-control" formControlName="currentPassword" placeholder="Nhập mật khẩu hiện tại">
        </label>
      </div>

      <fieldset formGroupName="pwGroup">
        <div class="form-group row">
          <label class="col">
            <input type="password" class="form-control" formControlName="password" placeholder="Nhập mật khẩu mới">
          </label>
        </div>
        <div class="form-group row">
          <label class="col">
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu mới">
          </label>
        </div>
      </fieldset>
      <div class="alert alert-danger" role="alert" *ngIf="formUpdateInfo.hasError('passwordnotmatch', ['pwGroup']) &&
      formUpdateInfo.get('pwGroup').touched">
        Password does not match!
      </div>
    </form>
    <div class="row justify-content-center">
      <button [disabled]="formUpdateInfo.invalid" type="submit" class="btn btn-primary" >
        Cập nhật
      </button>
      <button  class="btn btn-sm btn-danger" >
        Hủy
      </button>
    </div>
  </div>
</div>









