<div class="container-fluid d-flex  justify-content-center mt-3" style="font-size: 15px">
  <div class="container-fluid d-flex  justify-content-center mt-2 mb-5 shadow"
       style="width: 60%;background-color: white">
    <form class="product-add-new-form mb-3" [formGroup]="productInfor" (ngSubmit)="onSubmit()">
      <h2 class="text-center">Thông tin chi tiết sản phẩm</h2>
      <hr>
      <div class="form-row">
        <div class="input-group col-md-6 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="name">Tên sản phẩm</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                 formControlName="name">
        </div>
        <div class="input-group col-md-6 mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Loại sản phẩm</label>
          </div>
          <select class="custom-select" id="catalogue" formControlName="catalogue">
            <option selected>Chọn loại sản phẩm...</option>
            <option value="Dân dụng">Dân dụng</option>
            <option value="Công nghệ">Công nghệ</option>
            <option value="Khác">Khác</option>
          </select>
        </div>
      </div>
      <div class="mb-3 p-2 pl-5" style="background-color: #e9ecef; height: auto">
        <div class="text-center">Thông tin người đăng</div>
        <hr class="mx-auto mt-0 mb-3" style="width: 50%">

        <div>Id : {{productInfor.value.idUser}}</div>
        <div>User name : {{productInfor.value.userName}}</div>
        <div>Tên đầy đủ : {{productInfor.value.fullName}}</div>
        <div>Email : {{productInfor.value.email}}</div>
        <div>Số điện thoại : {{productInfor.value.phone}}</div>

      </div>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" style="width: 90%">
              <input class="form-control" formControlName="startDay" matInput [matDatepicker]="myDatepicker" placeholder="Chọn ngày bắt đầu">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
              <mat-error *ngIf="productInfor.controls.startDay.errors?.required&&productInfor.controls.startDay.touched">
                Ngày bắt đầu <strong>không được để trống</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" style="width: 90%">
              <input class="form-control" formControlName="endDay" matInput [matDatepicker]="myDatepicker1" placeholder="Chọn ngày bắt đầu">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker1></mat-datepicker>
              <mat-error *ngIf="productInfor.controls.endDay.errors?.required&&productInfor.controls.endDay.touched">
                Ngày bắt đầu <strong>không được để trống</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class="form-row mt-3">
        <div class="input-group col-md-6 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="startPrice">Giá ban đầu</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                 formControlName="startPrice">
        </div>
        <div class="input-group col-md-6 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Giá ban đầu</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                 formControlName="startPrice">
        </div>
      </div>
      <p class="text-center">Thông tin chi tiết:</p>
      <hr class="mt-0">
      <div class="form-row">
        <div class="input-group col-md-5 mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Bảo hành</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" formControlName="warranty">
            <option selected>Chọn thời hạn bảo hành</option>
            <option value="6">6 tháng</option>
            <option value="12">12 tháng</option>
            <option value="24">2 năm</option>
          </select>
        </div>
        <div class="input-group col-md-7 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="contractPhoneNumber">Số điện thoại liên hệ</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                 formControlName="contractPhoneNumber">
        </div>
      </div>
      <div class="form-row">
        <div class="input-group col-md-12">
          <div class="input-group-prepend">
            <span class="input-group-text" id="contractAddress">Địa chỉ nhận hàng</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                 formControlName="contractAddress">
        </div>
        <div class="input-group col-md-12 mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Giới thiệu sản phẩm</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" formControlName="productInfo"></textarea>
        </div>
      </div>

      <label class="mt-3 mb-0">Hình ảnh sản phẩm</label><hr>
      <div class="mb-3 p-2 pl-5" >
        <div class="row">
          <div class="mx-2 my-2" *ngFor="let key of objectKeys(productInfor.value.images); let i = index">
            <img [src]="productInfor.value.images[key].url" class="img-responsive" alt="Cinque Terre" style="height: 10rem; width: 10rem">
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center my-3">
        <button class="btn btn-warning mr-3" (click)="update()">Sửa thông tin sản phẩm</button>
        <button class="btn btn-success mr-3" (click)="cancel()">Quay về trang chủ</button>
      </div>
    </form>
  </div>
</div>
